.mainContent{
    display: flex;
}

.userListWrapper {
    background-color: (255, 255, 255);
    color: #3b3b3b;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 1;
    order: 1;
    padding:20px 0px 40px 30px;
    border-right: 1px solid #222;
    margin-top: 50px;
}

.feedWrapper {
    background-color: #fff;
    background: 
    (255, 255, 255);
        
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    overflow-y: auto;
    padding:20px 0px 0px 24px;
}

.chatFormWrapper {
    display: flex;
    height: 50px;
    background-color: #eee;
    z-index: 3;
}

#scroll-style::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}
