


<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">Chat App</a>
      </div>
  
      <div >
        <ul class="nav navbar-nav navbar-right">
            <li><a *ngIf="!(user|async)?.uid" href="#" (click)="login()">Login</a></li>
            <li><a *ngIf="!(user|async)?.uid" routerLink="/signin">Sign Up</a></li>
            <li><a id="userEmail" *ngIf="(user|async)?.uid">Hello, {{userName}}</a></li>
            <li><a *ngIf="(user|async)?.uid" href="#" (click)="logout()">Logout</a></li>
        </ul>
        
      </div>
    </div>
  </nav>

